@import url('https://fonts.googleapis.com/css?family=Baloo Thambi');
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
*{
	margin: 0px;
	padding: 0px;
}
header{
	height: 100%;

}
.logo{
	height: 50px;
	
}
.navbar-style{
text-transform: uppercase;
	box-shadow: 0px 5px 10px gray;margin: 0px;
	padding: 0px;
}

.icon-bar{
	background: darkorange;
}
.big-text{
	margin-left: 100px;
color: darkorange;
font-family: 'Baloo Thambi';font-size: 4em;
animation: glow 5s infinite;
}
.big-text span{
	animation: glow 8s infinite;
}
@keyframes glow{
	0%,100%{
		color: whitesmoke;
		text-shadow: 0 0 12px darkorange, 0 0 50px darkorange, 0 0 100px darkorange;

	}
	10%,90%{
		color: orange;
		text-shadow: none;

	}
}
.big-text > span:nth-child(2){
	animation-delay:0.25s ;
}
.big-text > span:nth-child(3){
	animation-delay:0.50s ;
}
.big-text > span:nth-child(4){
	animation-delay:0.75s ;
}
.big-text > span:nth-child(5){
	animation-delay: 1s;
}
.big-text > span:nth-child(6){
	animation-delay:1.25s ;
}
.big-text > span:nth-child(7){
	animation-delay:1.50s ;
}
.big-text > span:nth-child(8){
	animation-delay: 1.75s;
}
.big-text > span:nth-child(9){
	animation-delay: 2s;
}
.big-text > span:nth-child(10){
	animation-delay: 2.25s;
}
.big-text > span:nth-child(11){
	animation-delay: 2.50s;
}
.big-text > span:nth-child(12){
	animation-delay: 2.75s;
}
.big-text > span:nth-child(13){
	animation-delay: 3s;
}


a.btn{
	margin: 30px 10px;
	width: 150px;
	padding: 10px;
	border-radius: 20px;	
}
a.btn-second:hover{
	background-color: #F3A51D;
	color: white;
}
a.btn-first{
	background-color: darkorange;
	color: #fff;
}
a.btn-second{
	background-color: transparent;
	border: 3px solid darkorange;
	color: #333;
}

.text{
margin-top: 200px;
}
.text h3, .obj{
	margin-left: 20%;
}
#img {
	margin-top: 50px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
   animation: bg 4s infinite;
}
@keyframes bg{
 0%   {background-color: darkorange;}
  25%  {background-color: skyblue;}
  50%  {background-color: limegreen;}
  75% {background-color: crimson;}
  100%{background-color: darkorange;}
}
.obj{
	font-size: 20px;
}
@media screen and (max-width: 400px) {
 .obj, .text h3{
	margin-left: -10px;}
	#img{
		margin-left: 80px;
		margin-top: 20px;
	}
	.big-text{
margin-left: 5px;
}
footer{
	margin-top: -110px;

}
footer a{
	margin-top: 20px;
}

}

header{margin-bottom: -100px;}
}


footer a{
	margin-left: 25px;

}
.fa {
  padding: 20px;
  font-size: 100px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background-color: blue;
  color: white;
  border-radius: 100px;
  margin-bottom: 35px;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: white;
  color: #111;
}
.bottom-footer{
	 background:#FFAE46 ;
	height: 135x;
	color: black;
	padding-top:5px;
}
.box{
	border: 5px solid whitesmoke;
	border-style: ridge;
}

svg {
  width:100%;
  overflow:visible;
  margin-bottom: -7px;
  height: 350px;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: darkorange;
}


#wave2 {
  animation-duration:5s;
  animation-direction: reverse;
  opacity: .6;
}
#wave3 {
  animation-duration: 7s;
  opacity:.3;
}
@keyframes wave {
  to {transform: translateX(-100%);}
}
	